/*Dashboard elements*/

body{
	overflow: hidden;
}

div.sidebar{
	height: 100vh;
	background: #494949;
}

li.side-item{
	background: transparent;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color: #595959;
	border-radius: 0px !important;
}

li.side-item:hover{
	background: #595959;
}

button.btn-link{ 
	color: #ddd;
}

button.btn-link:hover{ 
	text-decoration: none;	
	color: #ddd;
}

small{
	line-height: 60% !important;
}

/*Div arrow for the sidebar in the Dashboard page*/
.arrow{
	height:1px;
	width:1px;
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-right-color: #fff;
	border-style: solid;
	border-width: 10px;
	position: relative;
	left: 1.25em;
	top: 0.5em;
}